<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
    <meta charset="UTF-8">
    <title>help page how to fuck</title>
</head>



<body>
<h1>{{capitalize pageTitle}}</h1>
<p>
    Rap Monster

</p>


{{> footer}}

</body>




</html>