<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
    <meta charset="UTF-8">
    <title></title>
</head>



<body>
<h1>{{pageTitle}}</h1>
<p>
    Rap Monster

</p>


{{> footer}}



</body>


</html>