<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Sample</title>
</head>



<body>
<h1>We will be right back</h1>
<p>
<h1>The site is currently being updated</h1>

</p>


{{> footer}}

</body>




</html>